# Introduction
I've tried coding a program to play Tic-Tac-Toe and it was easy for me at all.
Implementing the algorithm required me to write many lines of code which i ended up not doing!

Today I am going to teach my computer how to play the Tic-Tac-Toe game by itself just by showing
it some examples of Tic-Tac-Toe game plays.

## Import required python modules

In [45]:
import pickle
import pandas as pd
import numpy as np

from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

## Load dataset

In [27]:
data = pd.read_csv(
    "tic-tac-toe.csv",
    delimiter=" ",
    names=list(range(10))
)
data.head()

   0  1  2  3  4  5  6  7  8  9
0  1 -1  0  0  0  0  0  1  0  6
1  1  0  1  0  0  0  0 -1  0  1
2  0  0  0  0  0  1  0  0  0  2
3  0  1  1  0  0  0  0 -1  0  0
4  1  1 -1  0  0  0  0 -1  0  3

## Get information about the dataset like null or missing values

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6551 entries, 0 to 6550
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       6551 non-null   int64
 1   1       6551 non-null   int64
 2   2       6551 non-null   int64
 3   3       6551 non-null   int64
 4   4       6551 non-null   int64
 5   5       6551 non-null   int64
 6   6       6551 non-null   int64
 7   7       6551 non-null   int64
 8   8       6551 non-null   int64
 9   9       6551 non-null   int64
dtypes: int64(10)
memory usage: 511.9 KB

## Split dataset into features (X) and target (y)

In [29]:
X = data.drop(9, axis=1)
y = data[9]

## Initialize, train and get the score of a RandomForestClassifier using Cross Validation

In [ ]:
clf = RandomForestClassifier()
scores = cross_val_score(clf, X, y, cv=5)
scores.mean()

## Fit entire dataset to the model

In [41]:
clf.fit(X, y)

RandomForestClassifier()

## Save model to a file for deployment

In [44]:
with open("tic-tac-toe_model.pkl", "wb") as f:
    pickle.dump(clf, f)